/* 
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} */

.App {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px; /* Set your desired custom width */
  margin: 0 auto; /* Center the container horizontally */
}

/* Additional styles to center the cards in each column */
.row-cols-1 .col {
  display: flex;
  justify-content: center;
}

